{% extends 'hlavni/base.html' %}

{% block content %}

     <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Přihlásit</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Přihlásit se k účtu</p>
                </div>
            </div>
        </header>

    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <br/><br/>

                    <form method="POST" action="{% url 'prihlaseni' %}">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label>
                                <input type="text" class="form-control" name="username" placeholder="Zadejte své přihlašovací jméno">
                            </label>
                        </div>
                        <div class="mb-3">
                            <label>
                                <input type="password" class="form-control" name="password" placeholder="Zadejte své heslo">
                            </label>
                        </div>
                        <button type="submit" class="btn btn-secondary">Přihlásit se</button>
                    </form>

                    <br/><br/>
                    <br/><br/>
                    <br/><br/>
                    <br/><br/>


                </div>
            </center>
        </div>
    </div>

{% endblock %}