{% extends 'hlavni/base.html' %}

{% block content %}
         <header class="py-5 mt-5">
         <div class="container mt-5">
             <h1 class="display-5 fw-bold text-dark text-center h1-fix">Přihlásit se</h1>
         </div>
     </header>


    <div class="container py-0">
        <div class="row">
            <center>
                <div class="col-8">
                    <br/><br/>

                    <form method="POST" action="{% url 'prihlaseni' %}">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label>
                                <input type="text" class="form-control" name="username" placeholder="Zadejte svůj nickname">
                            </label>
                        </div>
                        <div class="mb-3">
                            <label>
                                <input type="password" class="form-control" name="password" placeholder="Zadejte své heslo">
                            </label>
                        </div>
                        <button type="submit" class="btn btn-secondary btnNoBorder mb-5">Přihlásit se</button>
                    </form>

                    <a href="{% url 'registrace' %}" class="btn btn-secondary btnNoBorder mb-5">Nemáš účet? Vytvoř ho!</a>
                </div>
            </center>
        </div>
    </div>

{% endblock %}