<header class="py-5 mt-5">

    <div class="container py-5 mt-5">
            <h1 class="display-5 fw-bold text-black text-center">EPodlahy</h1>
    </div>

    <div class="container text-center">
        <div class="row">
            <div class="col-lg-4 px-5">
                <div class="custom-textNav">Dlouholetá historie</div>
                <div class="underline-text"></div>
                <p>
                    Přes 20 let ruční praxe s pokládáním podlah
                    <br>
                    Přes 15 let obchodních zkušeností
                    <br>
                    Přes 10 let zkušeností vlastního obchodu s podlahami.
                </p>
            </div>
            <div class="col-lg-4 py-1 px-5">
                <div class="custom-textNav">Ohleduplnost doručení</div>
                <div class="underline-text"></div>
                <p>
                    Věříme, že kvalitní služby začínají už při doručení. Proto se snažíme
                    doručit Vaše podlahy co nejrychleji a nejbezpečněji. Dbáme na to, aby naše podlahy dorazily k Vám v co nejlepším stavu.
                </p>
                <div class="custom-textNav pt-3">Vlastní výroba</div>
                <div class="underline-text"></div>
                <p>Výrobky si samy vyrábíme a každorečně rozšiřujeme náš sortiment podle Vaších potřeb.</p>
            </div>
            <div class="col-lg-4 py-1 px-5">
                <div class="custom-textNav">Bezkonkurenční ceny</div>
                <div class="underline-text"></div>
                <p>
                    Vzhledem k naší dlouholeté spolupráci s mezinárodním trhem jsme si za roky
                    vybudovali pevné pouto s našimi dodavateli a díky tomu Vám můžeme podlahy
                    poskytovat lidově pod cenou.
                </p>
            </div>
        </div>
    </div>
</header>