{% load static %}
<!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{% url 'hlavni_stranka' %}">
                    <img src="{% static 'assets/logo.png' %}" alt="Logo" style="height:60px;">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">


                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="">
                                    <i class="bi bi-box-arrow-right"></i>
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="">Login</a></li>
                            <li class="nav-item"><a class="nav-link" href="">Registrace</a></li>
                        {% endif %}



                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">&#9776;</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'hlavni_stranka' %}">Všechny produkty</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="{% url 'kategorie_podlahy' 'Dřevěné podlahy' %}">Dřevěné</a></li>
                                <li><a class="dropdown-item" href="{% url 'kategorie_podlahy' 'Vinylové podlahy' %}">Vinylové</a></li>
                                <li><a class="dropdown-item" href="{% url 'kategorie_podlahy' 'Laminátové podlahy' %}">Laminátové</a></li>
                                <li><a class="dropdown-item" href="{% url 'kategorie_podlahy' 'Koberce' %}">Koberce</a></li>
                                <li><a class="dropdown-item" href="{% url 'kategorie_podlahy' 'Ostatní' %}">Ostatní</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <a href="" class="btn btn-outline-dark"><i class="bi-cart-fill me-1"></i>
                            Košík
                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span></a>

                    </form>
                </div>
            </div>
        </nav>