{% load widget_tweaks %}
<div class="recenze-section">
  <div class="container-md">
    {% if user.is_authenticated %}
     <form method="POST" action="{% url 'add_recenze' produkt.id %}">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field.errors }}
            {{ field|add_class:"form-control" }}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Přidat recenzi</button>
</form>
    {% else %}
      <p>Musíte se <a href="{% url 'prihlaseni' %}">přihlásit</a> pro přidání recenze.</p>
    {% endif %}

    {% for recenze in recenze %}
      <div class="recenze">
        <h5>{{ recenze.user.username }}</h5>
        <p>{{ recenze.text }}</p>
        <p>{{ recenze.datum }}</p>
      </div>
    {% endfor %}
  </div>
</div>