
* {
  box-sizing: border-box;
}

/* FOOTER */
.custom-text {
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    color: black;
    font-weight: 530;
}

.custom-text2 {
    font-family: 'Courier New', monospace;
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 0;
}

.custom-text3 {
    font-family: 'Courier New', monospace;
    font-size: 19px;
    font-weight: 400;
    color: rgba(120, 120 ,120 , 0.82);
    margin-top: 0;
}


.custom-text4 {
    font-family: 'Courier New', monospace;
    font-size: 19px;
    font-weight: 700;
    color: rgba(140, 135, 135, 0.82);
    margin-top: 0;
}

.fab {
    color: grey;
}


.fab:hover {
    color: black;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

#terms-container {
    width: 200px;
    margin: -10px auto auto;
    height: auto;
    position: relative;
    padding: 20px;
}

#terms-line {
    color: #1a1a1a;
    border-top: 10px solid;
    margin-bottom: 30px;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -12px;
}

#terms-text {
    visibility: hidden;
    text-align: center;
    color: black;
    opacity: 0;
    margin-top: 18px;
    transition: opacity 1s ease-in-out;
    white-space: nowrap;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}


#terms-text a {
    color: rgba(140, 135, 135, 0.82); /*Barva textu*/
    text-decoration: none; /*Odebrání podtržení*/
}

#terms-container:hover #terms-line {
    display: none;
}

#terms-container:hover #terms-text {
    visibility: visible;
    opacity: 1;
}

.icon-container {
    display: flex; /* Umožní zarovnání ikon */
    justify-content: center; /* Zarovná ikony na střed */
    padding-top: 15px; /* Mezi ikonami a textem */
}

.icon-wrapper {
    display: inline-block; /* Slouží k zarovnání ikon */
    margin: 0 60px; /* slouží k odstupu mezi ikonami */
}

.footer-icon {
    width: 100%;
    max-width: 96px; /* Nastaví maximální šířku ikony */
    height: auto; /* Umožní zachovat poměr stran ikony */
}

.mailto a {
    text-decoration: none;
    color: inherit;
}

/* FOOTER */

/* NAVBAR */
.navbar {
    margin-top: 50px;
    transform: scale(1.1);
}

/*Ať nejde na navbar dropdown menu kliknou ale jen hover effect, když jsem kliknul tak se bugoval*/
#navbarDropdown {
    pointer-events: none;
}

.bi{
    position: absolute;
    left: 52%;
    transform: translateX(-50%);
}

.bi2{
    position: absolute;
    left: 48%;
    transform: translateX(-50%)
}

@media (max-width: 991px) {
    .navbar .navbar-nav .row {
        flex-direction: row;
        justify-content: space-around; /* Zarovná ikony tak, aby byly rovnoměrně rozloženy s mezerami kolem nich */
    }

    .navbar .navbar-nav .row .col-lg-4 {
        flex: 0 0 auto;
        width: auto;
        padding: 0 80px;
    }
}

.navbar .navbar-nav .nav-item.dropdown {
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}
.navbar .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: block;
    left: 50%;
    transform: translateX(-50%);
}

.navbar .navbar-nav .nav-item.dropdown .dropdown-toggle::after {
    display: none;
}

.navbar .navbar-nav .nav-item.dropdown .dropdown-toggle {
    font-weight: 800;
}

.cart-container .badge-overlap {
    position: absolute; /* Position the badge absolutely within the cart container */
    top: -10px; /* Adjust as needed */
    right: 0; /* Adjust as needed */
    transform: none; /* Remove the translate transform */
    padding: 5px 10px; /* Increase padding around the text */
    border-radius: 10px; /* Make the corners more rounded */
    display: flex; /* Use flexbox for alignment */
    justify-content: center; /* Center the text horizontally */
    align-items: center; /* Center the text vertically */
    width: 20px; /* Set a fixed width */
    height: 20px; /* Set a fixed height */
}

.cart-container {
    position: relative; /* Make the cart container a relative container */
}

.cart-container .bi.bi-cart-fill {
    /* Adjust size and position for larger screens */
}

.cart-container .badge-overlap {
    position: absolute; /* Position the badge absolutely within the cart container */
    top: -10px; /* Adjust as needed */
    right: 0; /* Adjust as needed */
    transform: none; /* Remove the translate transform */
}

/* CSS for medium screens */
@media (max-width: 768px) {
    .cart-container .bi.bi-cart-fill {
        /* Adjust size and position for medium screens */
    }
}

/* CSS for small screens */
@media (max-width: 600px) {
    .cart-container .bi.bi-cart-fill {
        /* Adjust size and position for small screens */
    }
}

/* CSS for very small screens */
@media (max-width: 400px) {
    .cart-container .bi.bi-cart-fill {
        /* Adjust size and position for very small screens */
    }
}

.badge-overlap {
    transform: translate(50%, -50%);
}

.btn:hover {
    transform: scale(1.15);
    transition: transform 0.3s ease-in-out;
}

#logo {
    background-image: url('/static/assets/logo.png');
    height: 60px;
    width: 150px;
    background-size: contain;
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

#logo:hover {
    background-image: url('/static/assets/logo_hover.png');
    transform: scale(1.15);
    transition: transform 0.3s ease-in-out;
}
/*
.container .row {
    display: flex;
    justify-content: space-between;
}
*/
.container .row .col-md-4 {
    width: calc((100% - 152px) / 3);
}

.container .row .col-md-4:not(:last-child) {
    margin-right: 76px;
}

.underline-text {
    border-bottom: 3px solid whitesmoke; /* Adjust thickness and color as needed */
    width: 60px; /* Adjust width as needed */
    border-radius: 50%;
    margin: -2px auto 8px;
}

.custom-textNav {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: wheat;
    font-weight: 530;
    white-space: nowrap;
}

.top-margin {
    margin-top: 80px; /* Adjust as needed */
}

/* CSS for medium screens */
@media (max-width: 768px) {
    .custom-textNav {
        font-size: 16px; /* Smaller font size */
    }

    .underline-text {
        width: 40px; /* Smaller underline width */
    }

    .top-margin {
        margin-top: 40px; /* Smaller margin */
    }
}

/* CSS for small screens */
@media (max-width: 600px) {
    .custom-textNav {
        font-size: 14px; /* Even smaller font size */
    }

    .underline-text {
        width: 30px; /* Even smaller underline width */
    }

    .top-margin {
        margin-top: 20px; /* Even smaller margin */
    }
}

/* CSS for very small screens */
@media (max-width: 400px) {
    .custom-textNav {
        font-size: 12px; /* Smallest font size */
    }

    .underline-text {
        width: 20px; /* Smallest underline width */
    }

    .top-margin {
        margin-top: 10px; /* Smallest margin */
    }
}

.background-barva{
    background-color: #1a1a1a;
}

/* NAVBAR */


/* MAIN STRANKA - HOME */
.product-image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.product-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out; /* adjust the duration and easing function as needed */
}

.product-image.original {
    opacity: 1;
}

.product-image.closeup {
    opacity: 0;
}

.product-image-container {
    position: relative;
    width: 100%;
    height: 200px; /* adjust this value as needed */
    overflow: hidden; /* this will ensure that the images don't overflow the container */
}

.card.h-100:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.3s ease-in-out;
}
/* MAIN STRANKA - HOME */