/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 4rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(230, 75%, 56%);
  --title-color: hsl(230, 75%, 15%);
  --text-color: hsl(230, 12%, 40%);
  --body-color: hsl(230, 100%, 98%);
  --container-color: hsl(230, 100%, 97%);
  --border-color: hsl(230, 25%, 80%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Syne", sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-fixed: 100;
  --z-modal: 1000;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1023px) {
  :root {
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}


body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  color: var(--text-color);
background: linear-gradient(0deg, #8f8f8f 0%, #ffffff 100%);
}

input,
button {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.main {
  position: relative;
  height: 100vh;
}

.main__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.search,
.login {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-modal);
  background-color: hsla(230, 75%, 15%, .1);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px); /* For safari */
  padding: 8rem 1.5rem 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity .4s;
}

.search__close,
.login__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  box-shadow: rgb(17, 40, 60) 0px 20px 30px -10px;
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__actions {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.nav__search,
.nav__login,
.nav__toggle,
.nav__close {
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
  transition: color .4s;
}

:is(.nav__logo, .nav__search, .nav__login, .nav__toggle, .nav__link):hover {
  color: var(--first-color);
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--body-color);
    box-shadow: 0 8px 16px hsla(230, 75%, 32%, .15);
    width: 100%;
    padding-block: 4.5rem 4rem;
    transition: top .4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  text-align: center;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}

.nav__close {
  position: absolute;
  top: 1.15rem;
  right: 1.5rem;
}

/* Show menu */
.show-menu {
  top: 0;
}

/*=============== SEARCH ===============*/
.search__form {
  display: flex;
  align-items: center;
  column-gap: .5rem;
  background-color: var(--container-color);
  box-shadow: 0 8px 32px hsla(230, 75%, 15%, .2);
  padding-inline: 1rem;
  border-radius: .5rem;
  transform: translateY(-1rem);
  transition: transform .4s;
}

.search__icon {
  font-size: 1.25rem;
  color: var(--title-color);
}

.search__input {
  width: 100%;
  padding-block: 1rem;
  background-color: var(--container-color);
  color: var(--text-color);
}

.search__input::placeholder {
  color: var(--text-color);
}

/* Show search */
.show-search {
  opacity: 1;
  pointer-events: initial;
}

.show-search .search__form {
  transform: translateY(0);
}

/*=============== LOGIN ===============*/
.login__form,
.login__group {
  display: grid;
}

.login__form {
  background-color: var(--container-color);
  padding: 2rem 1.5rem 2.5rem;
  box-shadow: 0 8px 32px hsla(230, 75%, 15%, .2);
  border-radius: 1rem;
  row-gap: 1.25rem;
  text-align: center;
  transform: translateY(-1rem);
  transition: transform .4s;
}

.login__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
}

.login__group {
  row-gap: 1rem;
}

.login__label {
  display: block;
  text-align: initial;
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-bottom: .25rem;
}

.login__input {
  width: 100%;
  background-color: var(--container-color);
  border: 2px solid var(--border-color);
  padding: 1rem;
  border-radius: .5rem;
  color: var(--text-color);
}

.login__input::placeholder {
  color: var(--text-color);
}

.login__signup {
  margin-bottom: .5rem;
}

.login__signup a {
  color: var(--first-color);
}

.login__forgot {
  display: inline-block;
  color: var(--first-color);
  margin-bottom: 1.25rem;
}

.login__button {
  display: inline-block;
  background-color: var(--first-color);
  width: 100%;
  color: #fff;
  font-weight: var(--font-semi-bold);
  padding: 1rem;
  border-radius: .5rem;
  cursor: pointer;
  transition: box-shadow .4s;
}

.login__button:hover {
  box-shadow: 0 4px 24px hsla(230, 75%, 40%, .4);
}

/* Show login */
.show-login {
  opacity: 1;
  pointer-events: initial;
}

.show-login .login__form {
  transform: translateY(0);
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px) {
  .search,
  .login {
    padding-top: 10rem;
  }

  .search__form {
    max-width: 450px;
    margin-inline: auto;
  }

  .search__close,
  .login__close {
    width: max-content;
    top: 5rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    font-size: 2rem;
  }

  .login__form {
    max-width: 400px;
    margin-inline: auto;
  }
}

/* For large devices */
@media screen and (min-width: 1023px) {
  .nav {
    height: calc(var(--header-height) + 2rem);
    column-gap: 3rem;
  }
  .nav__close,
  .nav__toggle {
    display: none;
  }
  .nav__menu {
    margin-left: auto;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }

  .login__form {
    padding: 3rem 2rem 3.5rem;
  }
}

@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }
}

#logo {
    background-image: url('/static/assets/logo.png');
    height: 60px;
    width: 150px;
    background-size: contain;
    background-repeat: no-repeat; /* Prevents the image from repeating */
}


#logo:hover {
    transform: scale(1.15);
    transition: transform 0.3s ease-in-out;
}

.underline-text {
    border-bottom: 5px solid #93f2ff; /* Adjust thickness and color as needed */
    width: 60px; /* Adjust width as needed */
    border-radius: 50%;
    margin: -2px auto 8px;
}

.product-image2 {
    width: 100%; /* Zvětšení šířky obrázku na 100% */
    max-width: 600px; /* Omezení maximální šířky obrázku na 600px */
}


.product-card .card-body {
    padding: 5rem;
}

.product-card .list-group-item {
    padding: 0.75rem 1.25rem;
    border-bottom: 1px solid #dee2e6;
}

.product-card .list-group-item:last-child {
    border-bottom: none;
}

.product-card .btn-group {
    margin-top: 1rem;
}

.product-card .price {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.product-card .description {
    margin-bottom: 1rem;
}

.product-card .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.product-card .card-img-top {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.product-card .card-img-top img {
    border: none;
    max-height: 800px;
    width: 380px; /* Změna šířky obrázku na 100% */
    object-fit: cover; /* Přidání vlastnosti object-fit */
}

.product-card .card-img-top-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-lg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Výška rodičovského elementu nastavena na 100% výšky obrazovky */
}

.btn-secondary {
    background-color: transparent; /* Odstranění šedé okolní barvy */
}

.btn-secondary:hover {
    transform: none; /* Odstranění efektu přejetí myši */
    transition: none; /* Odstranění animace při přejetí myši */
}

#add-cart:hover {
    color: white !important; /* Změna barvy textu na bílou při přejetí myši */
    background-color: black; /* Změna barvy pozadí na černou při přejetí myši */
    transform: scale(1.1); /* Zvětšení textu při přejetí myši */
    transition: all 0.3s ease-in-out; /* Plynulý přechod efektů */
}
.bi-house {
    transform: scale(1.2); /* Statické zvětšení ikony o 20% */
}

.moveTOP {
    margin-bottom: 20px;
}

.bi-house:hover {
    transform: scale(1.4); /* Zvětšení ikony při přejetí myši */
    transition: all 0.3s ease-in-out; /* Plynulý přechod efektů */
}

.product-card {
    border: none;
    box-shadow: 9px 8px 12px 0px #3b3b3b, 24px 27px 68px 0px #000000, 1px 1px 0px 1px #000000;
    max-width: 1500px;
    border-radius: 10px;
}

.zoomable {
    transition: transform 0.5s ease-in-out; /* Increase transition duration for smoother effect */
    object-fit: cover;
}

.zoomable:hover {
    transform: scale(1.5); /* Increase scale value for larger zoom */
    cursor: crosshair;
}

.cube {
  transform: scaleX(1) scaleY(1) scaleZ(1.2) rotateX(21deg) rotateY(19deg) rotateZ(1deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);
}

/* V home.css*/
.aer {
    display: inline-block;
}


.underline-text2 {
    border-bottom: 5px solid; /* Adjust thickness and color as needed */
    color: #968f2c;
    border-radius: 10%;
    margin-top: -12px;
    margin-bottom: 10px;
}

@media (max-width: 992px) {
    .product-card {
        margin-bottom: 3.2rem; /* Adjust as needed */
    }
    .container-lg {
        height: auto; /* Reset the height to auto for smaller screens */
    }
}

#calculator-form input[type="number"] {
    width: 50px; /* Zmenšení šířky inputů */
    border: 2px solid #000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px; /* Přidání zaoblených rohů */
}

.calculator-form .x-value,
.calculator-form .y-value {
    width: 50px; /* Zmenšení šířky inputů */
    border: 2px solid #000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px; /* Přidání zaoblených rohů */
}

#calculator-form button {
  padding: 5px 10px;
  font-size: 12px;
  width: auto;
  margin-right: 10px;
}

#calculator-form button:hover {
  background-color: white;
  color: black;
  transform: scale(1.1);
}

#reset-button {
  color: black;
  transition-duration: 0.4s;
}

#tlacitka {
  color: black;
  transition-duration: 0.4s;
}

#calculator-form button:hover {
    background-color: white; /* White background */
    color: black; /* Black text */
    transform: scale(1.1); /* Increase the size of the button */
}

#result {
    font-size: 20px; /* Adjust the font size as needed */
    font-weight: bold; /* Make the text bold */
    color: #000; /* Change the text color to black */
    margin-top: 10px; /* Add some space above the result */
}

@media only screen and (max-width: 600px) {
    #calculator-form input[type="number"] {
        width: 100%; /* Make the input fields take up the full width */
        margin-bottom: 10px; /* Add some space below the inputs */
    }

    #calculator-form button {
        width: 100%; /* Make the button take up the full width */
    }

    #result {
        text-align: center; /* Center the result text */
    }
}

/* Styly pro velké obrazovky */
@media (min-width: 1200px) {
    .calculator-form button {
        padding: 10px 20px; /* Zvětšení paddingu */
        font-size: 16px; /* Zvětšení velikosti písma */
    }
}

/* Styly pro malé obrazovky */
@media (max-width: 767px) {
    .hide-on-small {
        display: none;
    }
}


/* Styly pro malé obrazovky */
@media (max-width: 767px) {
    .calculator-form button {
        padding: 5px 10px; /* Ještě menší padding */
        font-size: 12px; /* Ještě menší velikost písma */
        width: 100%; /* Tlačítka budou zabírat celou šířku */
    }

    .area-result, .cost-result, .packages-needed {
        margin-top: 10px; /* Posunutí řádku s výsledky dolů */
    }

    a[href="{% url 'kosik_stranka' %}"] {
        position: static; /* Zrušení absolutní pozice */
        margin-top: 20px; /* Posunutí tlačítka dolů */
    }

    .btn.btn-primary.text-white.position-absolute.end-0.bottom-0.m-3.px-3 {
        font-size: 12px; /* Zmenšení velikosti písma */
        padding: 5px 10px; /* Zmenšení paddingu */
    }
}
#area-result, #package-result {
    font-size: 1.5em; /* Increase the font size */
    color: #333; /* Change the text color */
    font-weight: bold; /* Make the text bold */
}

.price-result {
    color: #ff0000; /* Change the color to red */
    font-size: 15px; /* Increase the font size to 20px */
    font-weight: bold; /* Make the text bold */
}

.btn-custom {
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition-duration: 0.4s;
}

.btn-custom:hover {
  background-color: white;
  color: black;
  transform: scale(1.1);
}

#add-to-cart {
    display: none; /* Hide the button initially */
}


.btnNoBorder{
    border: none;
}

.btnNoBorder:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

.h1-fix{
    margin-bottom: -10px;
}

.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recenze-section {
    margin-top: 3rem;
    border-top: 1px solid #ccc;
    padding-top: 1.5rem;
    border-radius: 10px;
    box-shadow: 9px 8px 12px 0px #3b3b3b, 24px 27px 68px 0px #000000, 1px 1px 0px 1px #000000;

}

.recenze-section {
  padding: 2rem 0;
  border-top: 1px solid #ccc;
}

.recenze {
  margin-top: 2rem;
}

.text-area {
  height: 200px;
}
.btn-custom {
    color: black;
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px 10px; /* Adjust padding as needed */
    font-size: 14px; /* Adjust font size as needed */
    width: auto; /* Allow the width to adjust to content */
}

.btn-group {
    display: inline-flex;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
}

.btn-group .btn-custom {
    border: none;
    transition: background-color 0.3s ease;
    margin: 0;
}

.btn-group .btn-custom:hover {
    background-color: #ddd;
}

.calculate-button, .reset-button {
    background-color: #e7e7e7;
    color: black; /* Change to white color */
    border: none;
    padding: 5px 10px; /* Adjust padding to make buttons smaller */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px; /* Adjust font size to make buttons smaller */
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    float: right; /* Add this line */
}

.calculate-button:hover, .reset-button:hover {
    background-color: white; /* Change to white color on hover */
    color: black; /* Change text to black on hover */
}

.recenze-section {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
}

.recenze {
    border-bottom: 1px solid #dee2e6;
    padding: 10px 0;
}

.form-group {
    margin-bottom: 15px;
}

.review-textarea {
    height: 100px; /* Nastavte výšku podle vašich potřeb */
}

.review {
    display: none;
}

.button-container {
    display: flex;
    justify-content: space-between;
}