.product-image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.product-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out; /* adjust the duration and easing function as needed */
}

.product-image.original {
    opacity: 1;
}

.product-image.closeup {
    opacity: 0;
}

.product-image-container {
    position: relative;
    width: 100%;
    height: 200px; /* adjust this value as needed */
    overflow: hidden; /* this will ensure that the images don't overflow the container */
}

.card.h-100:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.3s ease-in-out;
}

.aer {
    text-decoration: none;
    color: black;
    font-weight: 900;
}

.aer2 {
    text-decoration: none;
    color: black;
    font-weight: 600;
}