

/* NAVBAR */
.navbar {
    margin-top: 50px;
}

/*Ať nejde na navbar dropdown menu kliknou ale jen hover effect, když jsem kliknul tak se bugoval*/
#navbarDropdown {
    pointer-events: none;
}

.bi{
    position: absolute;
    left: 52%;
    transform: translateX(-50%);
}

.bi2{
    position: absolute;
    left: 48%;
    transform: translateX(-50%)
}

@media (max-width: 991px) {
    .navbar .navbar-nav .row {
        flex-direction: row;
        justify-content: space-around; /* Zarovná ikony tak, aby byly rovnoměrně rozloženy s mezerami kolem nich */
    }

    .navbar .navbar-nav .row .col-lg-4 {
        flex: 0 0 auto;
        width: auto;
        padding: 0 80px;
    }
}

.navbar .navbar-nav .nav-item.dropdown {
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}
.navbar .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: block;
    left: 50%;
    transform: translateX(-50%);
}

.navbar .navbar-nav .nav-item.dropdown .dropdown-toggle::after {
    display: none;
}

.navbar .navbar-nav .nav-item.dropdown .dropdown-toggle {
    font-weight: 800;
}

.cart-container .badge-overlap {
    position: absolute; /* Position the badge absolutely within the cart container */
    top: -10px; /* Adjust as needed */
    right: 0; /* Adjust as needed */
    transform: none; /* Remove the translate transform */
    padding: 5px 10px; /* Increase padding around the text */
    border-radius: 10px; /* Make the corners more rounded */
    display: flex; /* Use flexbox for alignment */
    justify-content: center; /* Center the text horizontally */
    align-items: center; /* Center the text vertically */
    width: 20px; /* Set a fixed width */
    height: 20px; /* Set a fixed height */
}

.cart-container {
    position: relative; /* Make the cart container a relative container */
}

.cart-container .bi.bi-cart-fill {
    /* Adjust size and position for larger screens */
}

.cart-container .badge-overlap {
    position: absolute; /* Position the badge absolutely within the cart container */
    top: -10px; /* Adjust as needed */
    right: 0; /* Adjust as needed */
    transform: none; /* Remove the translate transform */
}

/* CSS for medium screens */
@media (max-width: 768px) {
    .cart-container .bi.bi-cart-fill {
        /* Adjust size and position for medium screens */
    }
}

/* CSS for small screens */
@media (max-width: 600px) {
    .cart-container .bi.bi-cart-fill {
        /* Adjust size and position for small screens */
    }
}

/* CSS for very small screens */
@media (max-width: 400px) {
    .cart-container .bi.bi-cart-fill {
        /* Adjust size and position for very small screens */
    }
}

.badge-overlap {
    transform: translate(50%, -50%);
}

.btn:hover {
    transform: scale(1.15);
    transition: transform 0.3s ease-in-out;
}

#logo {
    background-image: url('/static/assets/logo.png');
    height: 60px;
    width: 150px;
    background-size: contain;
    background-repeat: no-repeat; /* Prevents the image from repeating */
}


#logo:hover {
    background-image: url('/static/assets/logo_hover.png');
    transform: scale(1.15);
    transition: transform 0.3s ease-in-out;
}

/* NAVBAR */


/* MAIN STRANKA - HOME */

/* MAIN STRANKA - HOME */