{% extends 'hlavni/base.html' %}
{% load static %}
{% load multiply %}
{% block extra_js %}
    <script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}
<link href="{% static 'css/text.css' %}" rel="stylesheet">
{% block content %}
    <div class="pt-5"></div>
    <div class="pt-5"></div>
    <div class="container-lg">
        <div class="product-card">
            <div class="row g-0">
                <div class="col-md-4">
                    <div class="card-img-top" style=" overflow: hidden;">
                        <img src="{{ produkt.closeup_fotka.url }}" class="img-fluid zoomable "  alt="..." style="width: 100%; height: 100%;">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        {% for brand in produkt.brand.all %}
                            <div>
                                <a class="aer" href="{% url 'značka_podlahy' brand.nazev %}">
                                    <h5 class="fw-bolder">{{ brand.nazev|capfirst }}</h5>
                                    <div class="underline-text2"></div>
                                </a>
                                <br>
                                <h5><b>{{ produkt.kategorie.nazev|capfirst }}</b></h5>
                            </div>
                        {% endfor %}
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Materiál: <b>{{ produkt.material|capfirst }}</b></li>
                            <li class="list-group-item">Cena za metr čtverečný: <b>{{ produkt.cena }} Kč</b></li>
                            <li class="list-group-item">V balení: <b>{{ produkt.baleni }} m²</b></li>

                            <div id="package-size" style="display: none;">{{ produkt.baleni }}</div>
                            {% with total_price=produkt.cena|multiply:produkt.baleni %}
                            <li class="list-group-item">Za balení: <b id="total-price">{{ total_price }} Kč</b></li>
                            {% endwith %}
                            <li class="list-group-item">
                                <div class="pb-3 fw-bold text-decoration-underline"><h4>Kalkulačka</h4></div>
                                <form id="calculator-form">
                                    X: <label for="x-value"></label><input type="number" id="x-value" min="0">
                                    Y: <label for="y-value"></label><input type="number" id="y-value" min="0">
                                    <button type="button" onclick="calculateArea()">Calculate</button>
                                </form>
                                <b id="area-result">0</b> m², <b id="package-result">0</b> balení
                                <div id="price-per-package" style="display: none;">{{ produkt.cena }}</div>
                                <b id="cost-result" class="price-result">0</b> Kč
                                <button class="btn-custom" id="add-to-cart">Add to Cart</button>
                            </li>
                        <!--
                            <li class="list-group-item">
                                Akce:

                                {% if produkt.je_akce %}
                                    <div class="d-flex small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        &nbsp;&nbsp;Na skladě&nbsp;&nbsp;
                                        <div class="bi-star-fill"></div>
                                    </div>
                                {% endif %}
                            </li>
                        -->
                        </ul>
                        <div class="actions pt-3">
                            <a href="{% url 'hlavni_stranka' %}" class="btn" id="domek">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-house" viewBox="0 0 16 16"> <!-- Změna barvy ikony domečku na černou -->
                                    <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-10V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"></path>
                                    <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6 6a1 1 0 0 1-1.414 1.414L8 4.414 2.707 8.914A1 1 0 1 1 1.293 7.5l6-6z"></path>
                                </svg>
                            </a>
                            <button type="button" value="{{ produkt.id }}" class="btn text-black fw-semibold border border-4 border-dark cube" id="add-cart">Přidat do košíku</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}